* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url(./headphones.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

.player {
    margin-bottom: 40px;
}

.controls button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #0056b3;
}

.playlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.playlist li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.add-song input {
    padding: 10px;
    margin: 5px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-song button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-song button:hover {
    background-color: #218838;
}

